@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,700");
@import url("fontawesome-all.min.css");

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f1f1f1;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.full-width {
	width: 100%;
	display: block;
}

.main-column {
	padding: 5% 18% 5% 18%;
}

.project-title {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.project-tags {
	background-color: #dbdbdb;
	border: none;
	border-radius: 26px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #565656;
	padding: 6px 16px;

}

p a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	text-decoration: none;
	color: #004CCC;
	font-weight: 600;
}

p a:hover {
	border-bottom-color: transparent;
}

p {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #242424;
}

p strong {
	font-weight: 700;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
}

p i {
	font-weight: 700;
	color: #959595;
	font-style: italic;
}

table td, table td * {
    vertical-align: top;
}

.button-primary {
	background-color: #D3FFF3;
	border: none;
	border-radius: 32px;
	padding: 8px 32px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #010400;
	transition: 0.2s;
}

.button-primary:hover {
	background-color: #004CCC;
	border: none;
	border-radius: 32px;
	padding: 8px 32px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.button-secondary-figma, .button-secondary-devpost, .button-secondary-github, .button-secondary-docs {
	background-color: #f1f1f1;
	border: solid;
	border-color: #4f4f4f;
	border-radius: 32px;
	padding: 8px 32px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #4f4f4f;
	transition: 0.2s;
}

.button-secondary-figma:hover {
	background-color: #F24E1E;
	border: solid;
	border-color: #F24E1E;
	border-radius: 32px;
	padding: 8px 32px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	transition: 0.2s;
}

.button-secondary-docs:hover {
	background-color: #1a73e8;
	border: solid;
	border-color: #1a73e8;
	border-radius: 32px;
	padding: 8px 32px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	transition: 0.2s;
}

.button-secondary-devpost:hover {
	background-color: rgba(111, 185, 193, 1);
	border: solid;
	border-color: rgba(111, 185, 193, 1);
	border-radius: 32px;
	padding: 8px 32px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	transition: 0.2s;
}

.button-secondary-github:hover {
	background-color: rgba(49, 69, 84, 1);
	border: solid;
	border-color: rgba(49, 69, 84, 1);
	border-radius: 32px;
	padding: 8px 32px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	transition: 0.2s;
}

.inline-block {
/*  text-align: justify;*/
  white-space: normal;
  font-size: 0;
}
.inline-block:after {
  content: '';
  width: 100%;
  display: inline-block;
}
.inline-block div {
/*  width: 120px;
  height: 120px;*/
  display: inline-block;
  padding-right: 40px;
}

.google-slides-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		text-transform: none !important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 400;
	}

	.icon > .label {
/*		display: none;*/
	}

	.icon:before {
		line-height: inherit;
	}

	.icon.solid:before {
		font-weight: 900;
	}

	.icon.brands:before {
		font-family: 'Font Awesome 5 Brands';
		}

#backToTop {
  /*display: none;*/
  position: fixed;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: solid;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  transition: 0.2s;
}
/*
#backToTop:hover {
	padding-bottom: 50px;
  	background-color: #dbdbdb;
  	border-color: #dbdbdb;
  	transform: scale(1.1, 1.1);
}
*/
#backToTop:hover {
	background-color: #dbdbdb;
	border-color: #dbdbdb;
	/*transform: translate();*/
/*	transform: translate(0, -5px);*/
/*	transform: rotate(0deg);*/
}

.logo {
	position: fixed;
	top: 0px;
	left: 40px;
	z-index: 10;
}

.logo p a {
	font-size: 24px;
	text-decoration: none;
	font-weight: 300;
	border-bottom: none;
	color: #000000
}

.collapsible {
  background-color: #048CD8;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #006CA8;
}

.content {
  padding: 25px 50px;
  display: none;
  overflow: hidden;
  background-color: #FBFBFB;
}

/*.back-button {
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 10;
	width: 50px;
	height: 50px;
	border: solid;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	border-radius: 50%;
	transition: 0.2s;
}*/

#navigation {
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 10;
	visibility: hidden;
	transition: 0.2s;
	font-family: Source Sans Pro;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}

#navigation a {
	text-decoration: none;
}

/*#item-one {
	font-weight: 700;
	color: rgba(0, 0, 0, 0);
}

#item-two {
	font-weight: 400;
	color: rgba(149, 149, 149, 0);
}

#item-three {
	font-weight: 400;
	color: rgba(149, 149, 149, 0);
}*/

.selected {
	font-weight: 700;
	color: rgba(0,0,0,1);
	font-family: Source Sans Pro;
	font-size: 15px;
	line-height: 24px;
	visibility: hidden;
}

.unselected {
	font-weight: 400;
	color: rgba(149,149,149,1);
	font-family: Source Sans Pro;
	font-size: 15px;
	line-height: 24px;
	visibility: hidden;
}

.unselected:hover {
	color: rgba(96,96,96,1);
}

/*.button-logo {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: #004CCC;
	position: fixed;
	top: 0px;
	left: 40px;
	z-index: 10;
}*/

/*.logo:hover {
	transform: rotate(360deg);*/
}
/*#myBtn svg {
	width: 25px;
	height: 25px;
	fill: white;
}*/